.progress {
  background-color: gainsboro;
  height: 20px;
  position: relative;
  border-radius: 20px;
}

.progress__current {
  background-color: teal;
  height: 100%;
  transition: width 0.3s ease-out;
  border-radius: 20px;
}

.progress__percentage {
  color: white;
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 99;
  font-size: 0.95rem;
  transition: left 0.3s ease-out;
  line-height: 1.2;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  padding-left: 0.5rem;
}
