/* TODO: Check that styles are consistent throught browsers */

.container {
    border: 1px solid gainsboro;
    border-radius: 10px;
    width: 50%;
    max-width: 1280px;
    min-width: 500px;
    padding: 1rem;
    margin: 1rem;
}

.container__header {
    padding: 1.5rem 1rem;
}

.header__title {
    margin: 0;
    padding: .5rem 0;
}

.container__group {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    border: 1px solid gainsboro;
}

.group__wrapper {
    padding: 1rem 1rem;
    border-bottom: 1px solid gainsboro;
}

.group__wrapper:last-child {
    border-bottom: none;
}

.group {
    display: flex;
}

.group__name {
    flex: 8
}

.group__toggle {
    flex: 2
}

.tasksList__wrapper {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .4s ease-out;
}

.tasksList {
    list-style-type: none;
    overflow: hidden;
    font-size: 14px;
    padding: 1rem
}

.tasksList__task {
    display: flex;
}