/* TODO: Check that styles are consistent throught browsers */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&family=Poppins:wght@400;700&display=swap");

.container {
  border: 1px solid gainsboro;
  border-radius: 10px;
  width: 50%;
  max-width: 1280px;
  min-width: 500px;
  padding: 1rem;
  margin-bottom: 10rem;
  font-family: "Noto Sans", sans-serif;
  background-color: #ffffff;
}

.container__header {
  padding: 1.5rem 1rem;
}

.header__title {
  margin: 0;
  padding: 0.5rem 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

.container__group {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  border: 1px solid gainsboro;
}

.group__wrapper {
  padding: 1rem 1rem;
  border-bottom: 1px solid gainsboro;
}

.group__wrapper:last-child {
  border-bottom: none;
}

.group {
  display: flex;
  align-items: center;
}

.group__icon {
  height: 1.2rem;
  opacity: 0.35;
}

.group__name {
  flex: 8;
  font-weight: 500;
  margin: 0;
  padding: 0.5rem 0.5rem;
  display: flex;
  align-items: center;
}

.group__toggle {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.toggle__wrapper {
  display: flex;
  opacity: 0.35;
  transition: opacity 0.2s linear;
}

.toggle__text {
  margin: 0;
  font-size: 0.9rem;
}

.toggle__wrapper img {
  transition: transform 0.2s ease-out;
}

.toggle__wrapper:hover {
  opacity: 0.7;
}

.tasksList__wrapper {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.tasksList {
  list-style-type: none;
  overflow: hidden;
  font-size: 14px;
  padding: 1rem;
}

.tasksList__task {
  display: flex;
}

.tasksList__task p {
  padding-left: 0.5rem;
}
